form#login_form { name="loginForm"
       role="form"
       novalidate=""
       data={ng_submit: "vm.login()"} }
  div data={ng_include: "'auth/_form.html'"}
  input.btn.btn-default.btn-lg { type="submit"
                                 value="Log In"
                                 data={ng_disabled: "loginForm.$invalid"} }